@model Homeopathy.Web.Areas.Admin.ViewModels.Common.GridViewModel<dynamic>

<div class="d-flex justify-content-between align-items-center">

    <div class="text-muted">

        Showing

        <strong>
            @((Model.CurrentPage - 1) * Model.PageSize + 1)
        </strong>

        to

        <strong>
            @(Math.Min(Model.CurrentPage * Model.PageSize,
                        Model.TotalRecords))
        </strong>

        of

        <strong>@Model.TotalRecords</strong>

        entries

    </div>

</div>