<nav class="mb-4">

    <ol class="breadcrumb">

        <li class="breadcrumb-item">

            <a asp-area="Admin"
               asp-controller="Dashboard"
               asp-action="Index">

                Dashboard

            </a>

        </li>

        <li class="breadcrumb-item active">

            @ViewData["Title"]

        </li>

    </ol>

</nav>